body {
    margin: 0;
    background-image: #222222;
    font-family: poppins;
    height: 100%;
}

html {
    height: 100%;
    margin: 0;
}

.row {
    display: flex;
    height: 100%
}

main {
    margin-top: 50 px;
    background-color: rgba(34, 34, 34, 0.95);
    width: 100%;
    height: 100%
}

.col-1 {
    /* background-color: blue; */
    height: 100%;
    width: 10%;
}

.col-3 {
    /* background-color: yellow; */
    height: 100%;
    width: 60%;
    /* width: 10%; */
    /* background-color: yellow; */
}

.col-2 {
    /* background-color: pink; */
    height: 100%;
    width: 30%;
    /* background-color: blue; */
}

.blogs {
    margin-top: 10%;
    width: 100%;
}

.articles {
    display: grid;
    grid-template-columns: auto auto auto;
    overflow-y: scroll;
    margin-right: 30px;
}

.articles>a {
    margin-bottom: 40px;
}

.article-card>img {
    width: 200px;
    height: 150px;
    object-fit: cover;
    border: 5px solid #FFFFFF;
}

.article-title {
    font-weight: bold;
}

body {
    height: auto;
}

.container {
    height: auto;
}

@media (max-width: 768px) {
    main {
        margin-top: 0;
        z-index: 1;
    }
    .row {
        display: block;
        height: auto;
    }
    .col-1 {
        width: 100%;
    }
    .col-2 {
        width: 100%;
        height: auto;
        padding: 0;
        margin: 0;
    }
    .col-3 {
        width: 100%;
        height: auto;
    }
    body {
        height: auto;
    }
    html {
        height: auto;
    }
    .articles {
        display: block;
        grid-template-columns: none;
        overflow-y: none;
        margin-right: 0;
        padding: 0 20px;
    }
    .blogs>h1 {
        padding: 0 20px;
    }
    .article-card>img {
        width: 100%;
        height: 150px;
        object-fit: cover;
        border: none;
        border-radius: 5px;
        margin-bottom: 20px;
    }
}