@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

body {
    height: 100%;
    background: #222222;
}

.wrapper .sidebar {
    background: #575750;
    position: fixed;
    top: 0;
    left: 0;
    width: 225px;
    height: 100%;
    padding: 20px 0;
    transition: all 0.5s ease;
    border-right: 1px solid #c4c4c4;
}

.wrapper .sidebar .profile {
    margin-bottom: 30px;
    text-align: center;
}

.wrapper .sidebar .profile img {
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 0 auto;
    object-fit: cover;
}

.wrapper .sidebar .profile h3 {
    color: #ffffff;
    margin: 10px 0 5px;
}

.wrapper .sidebar .profile p {
    color: rgb(206, 240, 253);
    font-size: 14px;
}

.wrapper .sidebar ul li a {
    display: block;
    padding: 13px 30px;
    border-bottom: 1px solid #C3C3C3;
    color: rgb(241, 237, 237);
    font-size: 16px;
    position: relative;
}

.wrapper .sidebar ul li a .icon {
    color: #dee4ec;
    width: 30px;
    display: inline-block;
}

.wrapper .sidebar ul li a:hover,
.wrapper .sidebar ul li a.active {
    color: #222222;
    background: white;
    /* border-right: 2px solid rgb(5, 68, 104); */
}

.wrapper .sidebar ul li a:hover .icon,
.wrapper .sidebar ul li a.active .icon {
    color: #222222;
}

.wrapper .sidebar ul li a:hover:before,
.wrapper .sidebar ul li a.active:before {
    display: block;
}

.wrapper .section {
    width: calc(100% - 225px);
    margin-left: 225px;
    transition: all 0.5s ease;
}

.wrapper .section .top_navbar {
    background: #222222;
    height: 50px;
    display: flex;
    align-items: center;
    padding: 0 30px;
}

.wrapper .section .top_navbar .hamburger a {
    font-size: 28px;
    color: #f4fbff;
}

.wrapper .section .top_navbar .hamburger a:hover {
    color: #C4C4C4;
}

body.active .wrapper .sidebar {
    left: -225px;
}

body.active .wrapper .section {
    margin-left: 0;
    width: 100%;
}

.sidebar ul .logout a {
    color: #C4C4C4 !important;
    border-bottom: none !important;
    background-color: rgb(211, 94, 94) !important;
}

.article-actions>div>span {
    border-radius: 50%;
    /* background-color: #C4C4c4; */
    /* padding: 20px; */
}

.article-actions {
    padding-left: 40%;
    padding-right: 40%;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
    color: #222222;
}

.articles {
    margin-top: 20px;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 40px 0;
    text-align: center;
}

.article {
    background-color: #FFF;
    border-radius: 5px;
    width: 300px;
    height: auto;
}

.article img {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width: 100%;
    height: 150px;
}

.article-title {
    font-size: 14px;
    text-align: center;
    color: #222222;
}

.container {
    width: 60%;
    margin: auto;
    padding-bottom: 40px;
}

.edit-panel {
    margin-top: 50px;
    width: 100%;
    display: flex;
    background: #FFFFFF;
    border-radius: 15px;
    padding: 20px 0;
}

.col-1 {
    width: 70%;
}

.col-2 {
    width: 30%;
}

.col-1 .content {
    width: 90%;
    margin: auto;
    color: #222222;
}

.form-control {
    border: none;
    border-radius: 5px;
    height: 30px;
    width: 100%;
    background-color: #222222;
    color: #fff;
}

.form-control-text {
    border: none;
    border-radius: 5px;
    height: 300px;
    width: 100%;
    background-color: #222222;
    color: #fff;
    resize: none;
}

.feedbacks {
    width: 100%;
}

.feedback-card {
    margin-top: 20px;
    display: flex;
    width: 100%;
}

.feedback-content p {
    text-align: justify;
}

.feedback-content {
    padding: 0 20px;
    background-color: #575750;
}

.sender-info {
    padding: 0 20px;
    background-color: #C4C4C4;
    color: #0D2636;
    font-weight: bold;
}

@media (max-width: 768px) {
    /* .article {
        background-color: #FFF;
        border-radius: 5px;
        width: 100%;
        height: auto;
    }
    .articles {
        grid-template-columns: auto;
        width: 100%;
    } */
    .col-1 {
        width: 100%;
    }
    .col-2 {
        width: 100%;
    }
    .edit-panel {
        flex-direction: column;
        padding: 5px 0;
    }
    .col-2 .content {
        width: 100%;
        /* margin: 60px auto; */
        /* color: #222222; */
    }
    .col-2 .content img {
        width: 100%;
        object-fit: cover;
    }
    .container {
        width: 95%;
        /* margin: auto; */
    }
    .feedback-card {
        flex-direction: column;
    }
}

.btn {
    width: 100%;
    border: none;
    border-radius: 5px;
    height: 30px;
}

.btn-grey {
    background: #c4c4c4;
}

.btn-red {
    background: rgb(195, 84, 84);
}